.top-c-icon {
    left: -25%;
    top: 17%
}
.top-c-icon-2 {
    left: -40%;
    top: 17%
}
.b-n{
    border: none !important;
}
.bg-img{
    background-image: url(img/homepage-product-office-space-1.jpg);
    width: 100%;
    padding-bottom: 50px;
}
.home{
    font-size: 60px;
}
.w-90{
    width: 90% !important;
}
.bg-2{
    background-image: url(img/1.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.h-500{
    height: 500px;
}
.h-300{
    height: 300px;
}
.cs a{
    text-decoration: none;
    color: white;
}

.text-right{
        text-align: center;
    }
.c-2{
    left: 80px;
    top: 0px;
}
.c-h{
    height: 150px;
    width: 100%;
}
.f-bg{
    background-color: rgb(28 28 28);
    color: #fff;
}
.text-info-x{
    color: rgb(19 204 253);
}
i{
    cursor: pointer;
}
.text-justify{
    text-align: justify;
}
